
#Build output
target/
build/
out/

#Test reports and outputs
test-output/
reports/
allure-results/
allure-report/

#Runtime/log files
*.log
*.tmp
*.lock

.project
.classpath
.settings/
.metadata/

*.class

src/test/resources/TestData/*.xlsx


